body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

/* General table styling */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

/* Search input styling */
/* CSS for search bar and dropdown */
#search {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.searchInput {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px; /* Space between search input and dropdown */
}

#clearButton {
    padding: 5px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #e4e4e4;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;
}

#clearButton:hover {
    background-color: #ccc;
}

/* Center icons in table cells */
.table-icon {
    text-align: center; /* Center the icon horizontally */
}

.table-icon i {
    display: inline-block; /* Ensure icon is treated as an inline block element */
    vertical-align: middle; /* Align icon vertically in the middle */
    font-size: 20px; /* Set icon size */
}

.table-icon img {
    width: 20px; /* Set icon width */
    height: 20px; /* Set icon height */
    vertical-align: middle; /* Align image vertically in the middle */
}



/* Hide the default DataTables search bar */
.dataTables_filter {
    display: none;
}
